<md-content layout-padding>
    <md-grid-list md-cols="4" md-cols-md="2" md-cols-sm="1"
                  md-gutter="10px"
                  md-row-height="4:3">
        <md-grid-tile class="grow" md-ink-ripple
                      data-ng-repeat="vacation in vacations | filter:tdFilter | orderBy:'-rating'"
                      md-rowspan="1"
                      md-colspan="1"
                      ng-mouseenter="hover=true"
                      ng-mouseleave="hover=false"
                      ng-click="clickAction(vacation)">
            <vacation-grid-tile vacation-src="vacation"></vacation-grid-tile>
        </md-grid-tile>
    </md-grid-list>
</md-content>