exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.aux
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.idx
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.log
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.out
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.pdf
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.synctex.gz
exercises/exercise2/paper-mockups/team-39-exercise-2-paper-mockups.toc
exercises/exercise2/paper/team-39-exercise-2-paper.aux
exercises/exercise2/paper/team-39-exercise-2-paper.idx
exercises/exercise2/paper/team-39-exercise-2-paper.log
exercises/exercise2/paper/team-39-exercise-2-paper.out
exercises/exercise2/paper/team-39-exercise-2-paper.pdf
exercises/exercise2/paper/team-39-exercise-2-paper.synctex.gz
exercises/exercise2/paper/team-39-exercise-2-paper.toc

.idea/
