.navbar-search {
    margin-left: 35%;
}

.navbar {
    border: none;
    background-color: #0074bc;
    color: #c5cee9;
}

.navbar-custom {
    color: #c5cee9;
}

.navbar-custom:hover {
    color: white;
    background-color: #0074bc;
}

.badge {
    background-color: #03024f;
    float: left;
    margin: 5px;
}

.removeStyle{
    font-size: 10px;
    color: red;
    margin-left: 3px;
}

[ng-click] {
    cursor: pointer;
}