#suggestionToogleButton {
  outline: none;
}

#suggestionToogleButton:hover {
  outline: none;
  background-color: lightgray;
}

.nav-padding {
  padding: 5px;
}

#search-bar {
  background-color: white;
  color: black;
  height: 90%;
}

.flexbox {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  height: auto;
  min-height: inherit;
}