.nav-padding {
    padding: 5px;
}

#search-bar {
    background-color: white;
    color: black;
    height: 90%;
}

.flexbox {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    height: auto;
    min-height: inherit;
}

#suggestionToogleButton {
    outline: none;
}

#suggestionToogleButton:hover {
    outline: none;
    background-color: lightgray;
}

.keyword-chip {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: lightgray;
    padding: 0px 0px 0px 16px;
    height: 30px;
    margin: 4px;
}

.keyword-chip-button {
    height: inherit;
    width: 5px;
}

md-grid
md-grid-tile.shadows {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
}

figure img {
    height: 100%;
    width: 100%;
}

.cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
}