<h5>Create new Movie</h5>
<div class="alert alert-success" role='alert' ng-show="$scope.success">Movie created successfully</div>
<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-xs-2 control-label">Title</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="movie.title">
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-xs-2 control-label">Year</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="year" placeholder="Year" ng-model="movie.year">
        </div>
    </div>
    <div class="form-group">
        <label for="genre" class="col-xs-2 control-label">Genre</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="genre" placeholder="Genre" ng-model="movie.genre">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-xs-10">
            <button type="submit" class="btn btn-default" ng-click="save()">
                <span class="glyphicon glyphicon-plus"></span> Create
            </button>
        </div>
    </div>
</form>