<div layout="row" class="keyword-chip" layout-align="center center">
    <span ng-click="">{{keyword.keyword}}</span>
    <md-button class="md-icon-button keyword-chip-button" ng-if="hasOnClick" ng-click="onClick(keyword)" ng-switch
               on="hasIcon" aria-label="Add or Remove Keyword Chip">
        <md-icon class="md-primary md-48 material-icons" ng-switch-when="true">{{icon}}</md-icon>
        <md-icon class="md-primary md-48 material-icons" ng-switch-default>close</md-icon>
    </md-button>
</div>