<md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
        User Login
    </h1>
</md-toolbar>

<form class="form-default" name="userForm">

    <div class="form-group">
        <md-input-container flex="">
            <label for="credentials.email">Email</label>
            <input class="form-control" id="credentials.email" required="" ng-model="credentials.email" type="email">
        </md-input-container>
    </div>

    <div class="form-group">
        <md-input-container flex="">
            <label for="credentials.password">Password</label>
            <input class="form-control" id="credentials.password" required="" ng-model="credentials.password" type="password">
        </md-input-container>
    </div>
    <br>

    <div class="form-group">
        <md-button type="submit" class="md-raised" md-ripple-size ng-click="userLogin(credentials)">
            <span class="glyphicon glyphicon-plus"></span> Login
        </md-button>
        <a href="#/" class="btn"> Cancel</a>

    </div>

</form>

