<table class="table">
    <tr>
        <th>Title</th>
        <td><edit-text value="movie.title"></edit-text></td>
    </tr>
    <tr>
        <th>Year</th>
        <td><edit-text value="movie.year"></edit-text></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td><edit-text value="movie.genre"></edit-text></td>
    </tr>
    <tr>
        <th>Watched</th>
        <td><edit-bool value="movie.watched"></edit-bool></td>
    </tr>
</table>
<button class="button" ng-click="delete()">
    <span class="glyphicon glyphicon-trash"></span> Delete
</button>