<nav>
    <md-toolbar md-scroll-shrink class="md-raised">
        <div layout="row" layout-sm="column" layout-align="center center" class="nav-padding">
            <div flex="25" flex-sm="100">
                Travel Diary
            </div>
            <div flex="50" flex-sm="100">
                    <md-chips ng-enter="addKeyword(selectedKeyword)"
                              id="search-bar"
                              ng-model="selectedKeywords"
                              md-on-append="addKeyword($chip)"
                              md-autocomplete-snap md-require-match>
                        <md-autocomplete class="md-light" md-search-text="searchText"
                                         md-items="keyword in getFilteredKeywords(searchText)"
                                         ng-disabled="isDisabled"
                                         ng-focus="searchBarOnFocus()"
                                         md-no-cache="noCache"
                                         md-autofocus="autofocus"
                                         md-autoselect="autoselect"
                                         md-selected-item="selectedKeyword"
                                         md-item-text="keyword.keyword"
                                         placeholder="Search here with keywords..."
                                         secondary-placeholder="">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{keyword.keyword}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matches found.
                            </md-not-found>
                        </md-autocomplete>

                        <md-chip-template md-ink-ripple>
                            <span>{{$chip.keyword}}</span>
                        </md-chip-template>
                        <button class="chipbutton" md-chip-remove ng-click="removeKeyword($chip)">
                            <md-icon class="md-primary md-48 material-icons">close</md-icon>
                        </button>
                    </md-chips>
            </div>
            <div flex="25" flex-sm="100" layout="row" layout-align="end center" layout-align-sm="center center">
                <div>
                    <md-button  class="md-icon-button">
                        <md-icon class="md-48 material-icons">event_available</md-icon>
                    </md-button>
                </div>
                <div>
                    <md-button ng-click="clickHome($event)" class="md-icon-button">
                        <md-icon class="md-48 material-icons">home</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
</nav>

<div ng-show="showSuggestions">
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab label="Keyworeds">
            <md-content layout-padding>
                <div layout="row" layout-align="center center">
                    <div flex="50">
                        <md-chips id="suggestion-bar" ng-model="suggestedKeywords" readonly="true">
                            <md-chip-template>
                                <span>{{$chip.keyword}}</span>
                            </md-chip-template>
                            <button class="md-accent chipbutton" md-chip-remove ng-click="addKeyword($chip)">
                                <md-icon class="md-accent md-24 material-icons">add_circle</md-icon>
                            </button>
                        </md-chips>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Budget">
            <div layout="row" layout-align="center center">
                <div flex="50" layout="row" layout-align="center center">
                    <div flex>
                        <md-slider flex min="0" max="1000" ng-model="budget" aria-label="budget"></md-slider>
                    </div>
                    <div flex="20" layout layout-align="center center">
                        <md-input-container>
                            <label>Budget in €</label>
                            <input type="number" ng-model="budget">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row">

            </div>
            </md-slider>

        </md-tab>
    </md-tabs>

    <md-divider></md-divider>
</div>