<nav class="navbar navbar-fixed" >
    <div class="container-fluid">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand  navbar-custom" ui-sref="default">Travel Diary</a>
        </div>
        <div id="navbar" class="col-md-9">
            <div class="col-md-9">
                <form class="navbar-form navbar-custom" ng-enter="addKeyword(currentKeyword)">
                    <input type="text" class="navbar-search form-control" ng-model="currentKeyword" typeahead="k as k.keyword for k in keywordList | filter:$viewValue" placeholder="Search...">
                </form>
            </div>
            <div class="col-md-3">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-calendar navbar-custom"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell navbar-custom"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user navbar-custom"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div  class="container-fluid badge-container">
    <div class="row badge-inner-container">
        <div ng-if="searchList.length != 0">
        <div class="col-md-2" style="text-align: right;">Selected keywords:
        </div></div>
        <div class="col-md-9">
            <div ng-repeat="s in searchList">
                <span class="badge searchBadge">{{s.keyword}}<span ng-click="removeKeyword(s)" class="glyphicon glyphicon-remove removeStyle"></span></span>
            </div>
        </div>
    </div>
    <hr class="hr-no-border"/>
    <div class="row badge-inner-container">
        <div ng-repeat="x in keywordList"><span class="badge searchBadge">{{x.keyword}}</span></div>
    </div>
</div>