<nav>
    <div layout="column">
        <md-toolbar md-scroll-shrink class="md-raised">
            <div layout="row" layout-sm="column" layout-align="center center" class="nav-padding">
                <div flex="25" flex-sm="100">
                    <md-button ng-click="navCtrl.goToHome()"> Travel Diary </md-button>
                </div>
                <div flex="50" flex-sm="100">
                    <div id="search-bar" class="flexbox" layout="row" layout-align="start center">
                        <div ng-repeat="keyword in navCtrl.selectedKeywords">
                            <keyword-chip keyword-src="keyword"
                                          td-on-click="navCtrl.removeKeyword"
                                          td-button-icon="close">
                            </keyword-chip>
                        </div>
                        <div>
                            <md-autocomplete id="search"
                                             md-search-text="navCtrl.searchText"
                                             md-items="keyword in navCtrl.getFilteredKeywords(navCtrl.searchText)"
                                             ng-disabled="navCtrl.isDisabled"
                                             md-no-cache="navCtrl.noCache"
                                             md-autofocus="navCtrl.autofocus"
                                             md-autoselect="navCtrl.autoselect"
                                             md-selected-item="navCtrl.selectedKeyword"
                                             ng-enter="navCtrl.addKeyword(navCtrl.selectedKeyword)"
                                             md-item-text="keyword.keyword"
                                             placeholder="Search here with keywords..."
                                             secondary-placeholder="">
                                <md-item-template>
                                    <span md-highlight-text="searchText"
                                          ng-click="navCtrl.addKeyword(keyword)">
                                        {{keyword.keyword}}
                                    </span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <div flex="25" flex-sm="100" layout="row" layout-align="end center" layout-align-sm="center center">
                    <div ng-if="currentUser != null">
                        {{currentUser.username}}
                        <md-button ng-click="navCtrl.userLogout()">Logout</md-button>
                    </div>
                    
                    <div ng-if="currentUser == null">
                        <md-button ng-click="navCtrl.clickLogin()">Login</md-button>
                        <md-button ng-click="navCtrl.clickRegister()">Register</md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div ng-show="navCtrl.showSuggestions" class="slide-in-out-vertically">
            <md-tabs md-border-bottom md-center-tabs md-swipe-content>
                <md-tab label="Keywords">
                    <md-content layout-padding>
                        <div layout="row" layout-align="center center">
                            <div layout="row" flex="50" flex-sm="90" flex-md="70" class="flexbox">
                                <div ng-repeat="keyword in navCtrl.suggestedKeywords">
                                    <keyword-chip keyword-src="keyword"
                                                  td-on-click="navCtrl.addKeyword"
                                                  td-button-icon="add_new">
                                    </keyword-chip>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Budget" ng-if="navCtrl.showBudget">
                    <div layout="row" layout-align="center center">
                        <div flex="50" flex-sm="90" flex-md="70" layout="row" layout-align="center center">
                            <div flex>
                                <md-slider flex
                                           min="0"
                                           max="{{navCtrl.maxBudget}}"
                                           ng-model="navCtrl.budgetContainer.currentBudget"
                                           aria-label="budget">
                                </md-slider>
                            </div>
                            <div flex="20" layout layout-align="center center">
                                <md-input-container>
                                    <label>Budget in €</label>
                                    <input type="number" ng-model="navCtrl.budgetContainer.currentBudget">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div layout="row">

                    </div>
                    </md-slider>
                </md-tab>
            </md-tabs>

            <md-divider></md-divider>
        </div>

        <div layout="row" flex layout-align="center center" ng-click="navCtrl.toggleSuggestions()">
            <md-icon ng-if="navCtrl.showSuggestions" class="md-48 material-icons">keyboard_arrow_up</md-icon>
            <md-icon ng-if="!navCtrl.showSuggestions" class="md-48 material-icons">keyboard_arrow_down</md-icon>
        </div>
    </div>
    <md-divider></md-divider>
</nav>