<md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
        New user registration
    </h1>
</md-toolbar>

<div class="alert alert-success" role='alert' ng-show="success">Your account has been created successfully</div>

<form class="form-horizontal" name="userForm">

    <div class="form-group" layout="" layout-sm="column">
        <md-input-container flex="">
            <label for="firstName" class="col-xs-2 control-label">First name</label>
            <input class="form-control" id="firstName" required="" ng-model="user.firstName" type="text">
        </md-input-container>

        <md-input-container flex="">
            <label for="lastName" class="col-xs-2 control-label">Last Name</label>
            <input class="form-control" id="lastName" ng-model="user.lastName" type="text">
        </md-input-container>
    </div>

    <div class="form-group">
        <md-input-container flex="">
            <label for="username" class="col-xs-2 control-label">User name</label>
            <input class="form-control" id="username" required="" ng-model="user.username" type="text">
        </md-input-container>
    </div>

    <div class="form-group">
        <md-input-container flex="">
            <label for="email" class="col-xs-2 control-label">Email</label>
            <input class="form-control" id="email" required="" ng-model="user.email" type="email">
        </md-input-container>
    </div>

    <div class="form-group">
        <md-input-container flex="">
            <label for="password" class="col-xs-2 control-label">Password</label>
            <input class="form-control" id="password" required="" ng-model="user.passwordHash" type="password">
        </md-input-container>
    </div>

    <br>

    <div class="form-group">
        <div class="col-sm-offset-2 col-xs-10">
            <button type="submit" class="btn btn-default" ng-click="save()">
                <span class="glyphicon glyphicon-plus"></span> Sign up
            </button>
            <a href="#/" class="btn"> Cancel</a>
        </div>
    </div>

</form>

