<md-content>
    <md-divider></md-divider>
    <span id="sticky" style="position: fixed;"></span>

    <div fixed-nav>
        <div layout="row" style="width: 80%; margin-left: auto; margin-right: auto;">
            <div flex="66">
                <md-tabs>
                    <md-tab><span ng-click="scrollToElement('overview')">Overview</span></md-tab>
                    <md-tab><span ng-click="scrollToElement('keywords')">Keywords</span></md-tab>
                    <md-tab><span ng-click="scrollToElement('activities')">Activities</span></md-tab>
                    <md-tab><span ng-click="scrollToElement('reviews')">Reviews</span></md-tab>
                </md-tabs>
            </div>
            <div layout="row" layout-align="end center" flex>
                <md-button aria-label="Copy" ng-click="createVacation()"
                           ng-if="!creator">
                    <md-icon class="material-icons">favorite_border</md-icon>
                    Copy
                </md-button>
                <md-menu>
                    <md-button aria-label="My Review" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin ng-if="!currentUserReview" class="material-icons">star_border</md-icon>
                        <md-icon md-menu-origin ng-if="currentUserReview" class="material-icons">star</md-icon>
                        My Review
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-if="currentUserReview">
                            <md-button ng-click="showReviewDialog(currentUser, currentUserReview, vacation)"
                                       aria-label="Edit My Review">
                                Edit My Review
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="currentUserReview" aria-label="Delete My Review">
                            <md-button ng-click="deleteReview(currentUserReview)">
                                Delete My Review
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!currentUserReview">
                            <md-button ng-click="showReviewDialog(currentUser, currentUserReview, vacation)"
                                    aria-label="Add Review">
                                Add Review
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button aria-label="Review" ng-if="creator" ng-click="deleteVacation()">
                    <md-icon class="material-icons">delete</md-icon>
                    Delete
                </md-button>
            </div>
        </div>
    </div>
    <!--/md-content-->

    <div class="md-whiteframe-z1" style="width: 80%; margin-left: auto; margin-right: auto;">
        <div layout-margin layout-padding>
            <div layout="row">
                <div layout="column" layout-align="start start" flex>
                    <div class="md-headline">
                        <div ng-show="!creator">
                            {{vacation.name}}
                        </div>
                        <md-input-container class="inline-input" ng-show="creator">
                            <input ng-model="vacation.name">
                        </md-input-container>
                    </div>
                    <div class="md-subhead">by {{vacation.creator.username}}</div>
                    <div layout="row" style="color: #90caf9;">
                        <i class="material-icons" ng-repeat="n in [] | range:vacation.rating">star</i>
                        <i class="material-icons" ng-repeat="n in [] | range:(5-vacation.rating)">star_border</i>
                    </div>
                </div>
                <div layout="row" layout-align="end start">
                    <div class="md-headline">
                        <div ng-show="!creator">
                            {{vacation.startDate | date:'dd.MM.yyyy'}} to
                            {{vacation.endDate | date:'dd.MM.yyyy'}}
                        </div>
                        <div class="md-headline" layout="row" ng-show="creator">
                            <md-input-container class="inline-input">
                                <div layout="row">
                                    <input class=" md-headline" flex flex-order="1" type="text"
                                           is-open="openedStart" datepicker-popup="{{dd.MM.yyyy}}"
                                           ng-model="vacation.startDate" show-weeks="false" show-button-bar="false" style="width: 130px;" ng-click="openStart($event)"/>
                                </div>
                            </md-input-container>
                            <div class="md-headline" style="padding-left: 2px; padding-right: 2px;"> to </div>
                            <md-input-container class="inline-input md-headline">
                                <div layout="row">
                                    <input class=" md-headline" flex-order="1" type="text"
                                           class="form-control" is-open="openedEnd" datepicker-popup="{{dd.MM.yyyy}}"
                                           ng-model="vacation.endDate" show-weeks="false" show-button-bar="false" style="width: 130px;" ng-click="openEnd($event)"/>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overview" layout="row">
            <md-content class="md-padding" flex>
                <div class="md-title">Overview</div>
                <div style="height: 320px; overflow: hidden;">
                    <carousel interval="5000" ng-if="(vacation.images !== undefined) && (vacation.images.length > 0)">
                        <slide ng-repeat="image in vacation.images">
                            <img ng-src="{{image.url}}" style="width: 100%">
                            <!--div class="carousel-caption">
                                <h4>{{image.name}}</h4>
                            </div-->
                        </slide>
                    </carousel>
                    <div class="well" layout row layout-align="center center" ng-if="(vacation.images == undefined) || (vacation.images.length == 0)" style="height: 100%;">
                        <div>No Images available</div>
                    </div>
                </div>
                <md-button aria-label="Upload" ng-if="creator" base-sixty-four-input>
                    <md-icon class="material-icons">image</md-icon>
                    Upload
                </md-button>
            </md-content>

            <md-content class="md-padding" flex>
                <div class="md-padding">
                    <div class="md-title">Description</div>
                    <div layout-align="center" ng-show="!creator">{{vacation.description}}</div>
                    <md-input-container class="inline-input" ng-show="creator">
                            <textarea type="text" ng-model="vacation.description" />
                    </md-input-container>
                </div>

                <div class="md-padding">
                    <div class="md-title">Budget</div>
                    <div layout="row">
                        <table class="table">
                            <thead>
                            <th>Overall</th>
                            <th align="right">{{vacation.budget}}</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="budget in budgetList">
                                <td>{{budget.title}}</td>
                                <td align="right">{{budget.budget}}</td>
                                <td align="center" ng-show="creator"><md-icon class="material-icons" ng-click="removeBudget($index)">remove_circle</md-icon></td>
                            </tr>
                            <tr ng-show="creator">
                                <td><md-input-container class="inline-input">
                                    <input type="text" ng-model="budgetTitle" />
                                </md-input-container></td>
                                <td align="right"><md-input-container class="inline-input">
                                    <input type="number" ng-model="budget" style="-moz-appearance:textfield;" />
                                </md-input-container></td>
                                <td align="center"><md-icon class="material-icons" ng-click="addBudget()">add_circle</md-icon></td>
                            </tr>
                            <th>Activities</th>
                            <th></th>
                            <tr>
                                <td>Activity 1</td>
                                <td align="right">$3</td>
                            </tr>
                            <tr>
                                <td>Activity 2</td>
                                <td align="right">$4</td>
                            </tr>
                            <tr class="hide" id="rowTemplate">
                                <td name="title"></td>
                                <td name="price" align="right"></td>
                                <td name="price" align="right"><md-icon class="material-icons">remove_circle</md-icon></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-content>
        </div>

        <md-content id="keywords" class="md-padding">
            <div class="md-title">Keywords</div>
            <div layout="row" layout-align="center center">
                <div ng-repeat="keyword in vacation.keywords">
                    <keyword-chip keyword-src="keyword">
                    </keyword-chip>
                </div>
            </div>
        </md-content>

        <md-content id="activities" class="md-padding">
            <div class="md-title">Activities</div>
            <div layout="row">
                <div flex="33" ng-repeat="activity in vacation.activities">
                    <md-card>
                        <div style="height: 220px; overflow: hidden;">
                            <carousel interval="5000" ng-if="(activity.images !== undefined) && (activity.images.length > 0)">
                                <slide ng-repeat="image in activity.images">
                                    <img ng-src="{{image.url}}" style="width: 100%">
                                    <!--div class="carousel-caption">
                                        <h4>{{image.name}}</h4>
                                    </div-->
                                </slide>
                            </carousel>
                            <div class="well" layout row layout-align="center center" ng-if="(activity.images == undefined) || (activity.images.length == 0)" style="height: 100%;">
                                <div>No Images available</div>
                            </div>
                        </div>
                        <md-card-content>
                            <div class="md-title" flex>{{activity.name}}</div>
                            <div class="md-body-2" flex style="float: right;">{{activity.startTime |
                                date:'HH:mm'}}
                                to
                                {{activity.endTime | date:'HH:mm'}}
                            </div>
                            <div class="md-body-1">{{activity.description}}</div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>

        <md-content id="reviews" class="md-padding">
            <div class="md-title">Reviews ({{vacation.reviews.length}})</div>

            <md-list>
                <md-list-item class="md-3-line" ng-repeat="review in vacation.reviews">
                    <div class="md-list-item-text">
                        <h3>{{review.title}}</h3>
                        <h4>by {{review.user.username}}UserName</h4>

                        <p>{{review.description}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </div>
</md-content>
</div>

