<div>
    <md-content class="md-padding">
        <md-card>
            <div layout="row" layout-wrap>
                <md-card-content>
                    <div layout="row" layout-wrap>
                    <div flex layout-margin layout-padding>
                        <img ng-src="{{imagePath}}" class="md-card-image">
                    </div>
                    <div flex layout-margin layout-padding>
                        <h2 class="md-title">{{vacation.name}}</h2>
                    </div>
                        </div>
                </md-card-content>
            </div>
        </md-card>
    </md-content>
</div>

