@()

<!DOCTYPE html>
<html>
    <head>
        <title>Travel Diary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel='custom stylesheet' href='@routes.Assets.at("css/custom.css")'>
        @*Add Angular Material css sheet and the fonts*@
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.min.css"))">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    </head>

    <body ng-app="travelDiary">


        @*
        Two views. One for the navigation bar at the top of the page and one for the content below.
        *@
        <div ui-view="navigation"></div>
        <div ui-view="content"></div>

        @*
        Adding javascript app dependencies.

        Note: Added a specific path for angular.min.js, angular-animate.min.js and angular-aria.min.js because because
        some dependencies from org.webjars.bower require angular as a dependency. angular is a smaller version of
        angularjs from org.webjars. Since both dependencies are available the used one has to be specified. Version
        should correspond to the versions of the dependencies in build.sbt.
        *@
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs/1.4.0/angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs/1.4.0/angular-animate.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs/1.4.0/angular-aria.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-filter.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("js-data.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("js-data-angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>

        @*
        Adding app javascript code.
        *@
        <script type="text/javascript" src="@routes.Assets.at("js/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/navigationController.js")"></script>
    </body>
</html>
